t*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
}
.container{
    width:650px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    margin: 100px auto;
    background-color: hsl(244, 38%, 16%);
    max-width: 100%;
    
}
@media (max-width:767px) {
    .container{
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;   
         flex-wrap: wrap;
         width: fit-content;


    }
    .content{
        order: 2;
        padding: 20px;
    }
    .stats p{
        margin: 0 5px;
    }
}
@media (max-width:767px) {
    .container{
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;   
         flex-wrap: wrap;
         width: fit-content;


    }
    .content{
        order: 2;
        padding: 20px;
    }
    .stats p{
        margin: 0 5px;
    }
}
.container img{
    
    max-width: 100%;
    height: 100%;
    /* position: relative; */
}
.container .image{
    position: relative;
    filter: brightness(30%) sepia(100%) hue-rotate(235deg) saturate(600%) contrast(0.8);
    width: 450px;
}

.container .content h3 span{
    color: hsla(277, 64%, 61%);
}

.container .content{
    padding: 30px;
    flex-basis: 60%;
}
.content h3{
    color: white;
    font-family: inter;
    /* font-weight: 700; */
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
}
.content > p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: inter;
    font-size: 12px;
    line-height: 1.6;
}
.stats{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.stats .stat span{
    color: white;
    font-family: inter;
    font-weight: 700;
}
.stats .stat p{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca';
    font-size: 10px;
    margin-top: 5px;
}


@media (max-width:767px) {
    .container{
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        text-align: center;   
         flex-wrap: wrap;
         width: fit-content;


    }
    .stats{
        flex-direction: column;
        gap: 20px;
    }
    .content{
        order: 2;
        padding: 20px;
    }
    .stats p{
        margin: 0 5px;
    }
}